// === Reset ===
*{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: 0;
  list-style: none;

}
// === Cores ===
$titulo : #2D3248;
$subtitulo : #6A6F81;
$background-body : #19A2AE;
$background-main : #F2F2F2;

// === Body ===
body{
  background: $background-body;
}
// === Main ===
.main{
// --- Borda ---
  border-radius: 15px;
// --- Espaçamento ---
  margin-left: -45%;
  margin-top: -185px;
// --- Tamanho ---
  height: 370px;
  width: 90%;
// --- Posicionamento ---
  position: absolute;
  top: 50%;
  left: 50%;
// --- Background ---
  background: $background-main;
}

// === Section Perfil ===
.section-perfil{
  .header-perfil{
    position: relative;
    bottom: 20px;
    height: 55px;
    .header-perfil__info{
      display: flex;
      justify-content: center;
      align-items: center;
      .header-perfil__nome{
        color: $titulo;
        margin-right: 10px;
      }
      .header-perfil__idade{
        color: $subtitulo;
      }
    }
    .header-perfil__cidade{
      color: $subtitulo;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      margin-top: 5px;
    }
  }
  hr{
    border: 1px solid #e8e8e8;
  }
}

// === Foto Capa ===
.foto-capa{
    height: 100px;
    // position: relative;
  .foto-capa-item{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100px;
  }
}

// === Foto Perfil ===
.foto-perfil{
// --- Espaçamento ---
  margin: auto;
// --- Tamanho ---
  width: 96px;
  height: 96px;
// --- Posicionamento ---
  position: relative;
  bottom: 50px;
  // background: red;
  .foto-perfil-item{
    border-radius: 50%;
    border: 5px solid #fff;
  }
}

// === Section Info lis ===

.section-info{
  margin-top: 30px;
  .section-info__list{
    display: flex;
    justify-content: space-around;
    text-align: center;
    .section-info__list-item{
      color: $titulo;
    }
    .section-info__list-quantidade{
      color: $subtitulo;
      font-size: 16px;
    }
  }
}

@media (min-width: 400px){
  .main{
    width: 340px;
    margin-left: -170px;
  }
}
